@model EduxSoft.Student.ViewModels.IndexViewModel
@section  title{ Liste }

<div class="row">
    <div class="box box-primary col-md-12">
        <div class="box-header">
            <h4 class="box-tile">Liste d'élèves</h4>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Classe</th>
                            <th>Noms Complet</th>                           
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.Classes)
                        {
                            <tr>
                                <td></td>
                                <td>@item.Section.Name</td>
                                <td>@item.Grade   @item.Name </td>                                                                

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>