@model EduxSoft.Base.ViewModels.Classe.IndexClassModel
@using EduxSoft.Base.Code
@using EduxSoft.Base.Models

@section title{
    Classes
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">Classes</h4>
                <div class="box-tools pull-right">
                    <a id="addClassModal" data-toggle="modal" asp-action="Create" data-target="#modal-action-base">
                        <span class="label label-primary">Nouvelle classe</span>
                    </a>                   
                </div>
            </div>
            <div class="box-body">
                @*TAble of content*@
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Section</th>
                                <th>Classe</th>
                                <th>Tag Primaire</th>
                                <th>Tag Secondaire</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.Classes)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Section.Name</td>
                                    <td>@item.Grade   @item.Name"</td>
                                    <td>
                                        @{
                                            if (item.IsPrimary)
                                            {
                                                <text>OUI</text>
                                            }
                                            else
                                            {
                                                <text>NON</text>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsSecondary)
                                            {
                                                <text>OUI</text>
                                            }
                                            else
                                            {
                                                <text>NON</text>
                                            }
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>           
        </div>
    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-base", AreaLabeledId = "modal-action-base-label", Size = ModalSize.Medium })